numpy
pandas
scikit-learn
torch==2.0.1
sentence-transformers==3.0.1  --index-url https://pypi.tuna.tsinghua.edu.cn/simple
textrank4zh
networkx==2.8.8
tqdm
pymysql
sqlalchemy
kafka-python
python-snappy
langchain
pydantic
emoji